<ul class="breadcrumb">
    <li ng-repeat="step in steps" ng-switch="$last || !!step.abstract" ng-class="{active: $last}">
        <a ng-switch-when="false" href="#/dashboard" ng-if="!step.ncyBreadcrumbLink">{{step.ncyBreadcrumbLabel|translate}}</a>
        <a ng-switch-when="false" href="{{step.ncyBreadcrumbLink}}" ng-if="step.ncyBreadcrumbLink">{{step.ncyBreadcrumbLabel|translate}}</a>
        <span ng-switch-when="true">{{step.ncyBreadcrumbLabel|translate}}</span>
        <span class="divider" ng-hide="$last">/</span>
    </li>
</ul>